title: Calendar Events
description: View and download calendar invites
baseurl: ""
url: "https://yourusername.github.io"

plugins:
  - jekyll-feed
  - jekyll-seo-tag

collections:
  events:
    output: false

defaults:
  - scope:
      path: ""
    values:
      layout: default